@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

body{
  background: black;
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.hover\:pause:hover {
  animation-play-state: paused;
}
